<footer class="footer">
  <div class="footer">
    <p class="text-muted">&copy; Sell My Car 2018 | <a href="/user/login">Login</a> | <a href="/user/signup">New User</a></p>
  </div>
</footer>
<!-- <script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script rel="script" src="/js/app.js"></script> -->
</body>

</html>
