{{> header}}
  {{> nav}}
      <h1>Car Survey</h1>
       <div style="width: 30%; margin: 25px auto;">
      <form action="/survey" method="POST">
          <div class="form-group">
              <label for="carOwnership">Do you own a car? </label></br>
              <input type="text" name="carOwnership" placeholder="" /><br/>
        </div>
        <div class="form-group">
            <label for="parkingBoolean">Do you pay for parking? </label></br>
            <input type="text" name="parkingBoolean" placeholder="" /><br/>
            <label for="parkingPayment">How much do you pay for parking? </label></br>
            <input type="text" name="parkingPayment" placeholder="" /><br/>
      </div>
      <div class="form-group">
          <label for="insuranceBoolean">Do you pay for car insurance? </label></br>
          <input type="text" name="insuranceBoolean" placeholder="" /><br/>
          <label for="insurancePayment">How much do you pay for car insurance? </label></br>
          <input type="text" name="insurancePayment" placeholder="" /><br/>
    </div>
        <div class="form-group">
            <label for="powerBoolean">Do you pay for diesel/gas/supercharging? </label></br>
            <input type="text" name="powerBoolean" placeholder="" /><br/>
            <label for="powerPayment">How much do you pay for diesel/gas/supercharging? </label></br>
            <input type="text" name="powerPayment" placeholder="" /><br/>
      </div>
      <div class="form-group">
          <label for="workBoolean">Do you work from home? </label></br>
          <input type="text" name="workBoolean" placeholder="" /><br/>
          <label for="workMiles">How far do you travel for work? </label></br>
          <input type="text" name="workMiles" placeholder="" /><br/>
    </div>
    <div class="form-group">
        <label for="vacationBoolean">Do you drive a car for vacations? </label></br>
        <input type="text" name="vacationBoolean" placeholder="" /><br/>
        <label for="vacationFrequency">How often do you travel for vacations? </label></br>
        <input type="text" name="vacationFrequency" placeholder="" /><br/>
        <label for="vacationMiles">How far do you travel for vacations? </label></br>
        <input type="text" name="vacationMiles" placeholder="" /><br/>
    </div>





          <button type="submit" class="button is-success">Save</button>

      </form>
  </div>
