{{> header}}
  {{> nav}}
  <script>
function disable() {
    document.getElementById("mySelect").disabled=true;
}
function enable() {
    document.getElementById("mySelect").disabled=false;
}
</script>
      <h1>Car Survey</h1>
       <div class="container">
      <form action="/survey" method="POST">
      <br>
      <br>
    <div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Car Ownership</h5>
      <p class="card-text">Do you own a car?</p>
      <select id="mySelect">
             <option value="Yes">Yes</option>
             <option value="No">No</option>
       </select>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Parking</h5>
      <p class="card-text">Do you pay for parking</p>
      <select name="parkingBoolean">
             <option value="Yes">Yes</option>
             <option value="No">No</option>
       </select>
       <label for="parkingPayment">How much do you pay for parking per month? </label></br>
     <input type="text" name="parkingPayment" placeholder="" />
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Insurance</h5>
      <p class="card-text">Do you pay for car insurance?</p>
      <select name="insuranceBoolean">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
        </select>
        <label for="insurancePayment">How much do you pay for car insurance per month? </label></br>
        <input type="text" name="insurancePayment" placeholder=""  />
    </div>
  </div>
</div>
<br>
<br>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Fuel</h5>
      <p class="card-text">Do you pay for diesel/gas/supercharging? </p>
      <select name="powerBoolean">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
          </select>
          <label for="powerPayment">How much do you pay for diesel/gas/supercharging per month? </label></br>
           <input type="text" name="powerPayment" placeholder="" /><br/>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Work</h5>
      <p class="card-text">Do you work from home? </p>
      <select name="workBoolean">
           <option value="Yes">Yes</option>
           <option value="No">No</option>
     </select>
     <label for="carWorkBoolean">Do you use your car for work? </label></br>
<select name="carWorkBoolean">
    <option value="Yes">Yes</option>
    <option value="No">No</option>
</select>
<br>
<label for="workMiles">How far do you travel for work per month in miles? </label></br>
<input type="text" name="workMiles" placeholder="" /><br/>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
  </div>
</div>

      </form>
  </div>
</div>
