{{> header}}
{{> nav}}
<h1>Car Survey</h1>
<div class="container">
    <form action="/survey" method="POST">
        <br>
        <br>
        <div class="form-group">
            <h5>Car Ownership</h5>
            <p>Do you own a car?</p>
            <select class="form-control">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="form-group">
        <h5>Parking</h5>
            <p>Do you pay for parking</p>
            <select class="form-control">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="parkingPayment">How much do you pay for parking per month? </label></br>
            <input type="text" name="parkingPayment" class="form-control" placeholder="" />
        </div>
        <h5>Insurance</h5>
        <div class="form-group">
            <p>Do you pay for car insurance?</p>
            <select class="form-control" name="insuranceBoolean">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="insurancePayment">How much do you pay for car insurance per month? </label></br>
            <input type="text" class="form-control" name="insurancePayment" placeholder="" />
        </div>
        <div class="form-group">
            <h5>Fuel</h5>
            <p>Do you pay for diesel/gas/supercharging? </p>
            <select class="form-control" name="powerBoolean">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="powerPayment">How much do you pay for diesel/gas/supercharging per month? </label></br>
            <input type="text" class="form-control" name="powerPayment" placeholder="" /><br />
        </div>
        <div class="form-group">
            <h5>Work</h5>
            <p>Do you work from home? </p>
            <select class="form-control" name="workBoolean">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="carWorkBoolean">Do you use your car for work? </label></br>
            <select class="form-control" name="workBoolean">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="workMiles">How far do you travel for work per month in miles? </label></br>
            <input type="text" class="form-control" name="workMiles" placeholder="" /><br />
        </div>
        <div class="form-group">
            <h5>Vacation</h5>
            <p>Do you drive a car for vacations? </p>
            <select class="form-control" name="vacationBoolean">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
        <div class="form-group">
            <label for="vacationFrequency">How often do you travel for vacations per month? </label></br>
            <input type="text" class="form-control" name="vacationFrequency" placeholder="" /><br />
        </div>
        <div class="form-group">
            <label for="vacationMiles">How far do you travel in miles for vacations per day? </label></br>
            <input type="text" class="form-control" name="vacationMiles" placeholder="" /><br />
        </div>
    </form>
</div>
