{{> header}}
  {{> nav}}
  <script>
function disable() {
    document.getElementById("mySelect").disabled=true;
}
function enable() {
    document.getElementById("mySelect").disabled=false;
}
</script>
      <h1>Car Survey</h1>
       <div class="container">
       <div style=" margin: 5px auto;">
      <form action="/survey" method="POST">

</div>

          <div class="form-group">

          <h3>Car Ownership</h3>
              <label for="carOwnership">Do you own a car? </label></br>
              <select id="mySelect">
                  <option value="Yes">Yes</option>
                  <option value="No">No</option>
            </select>
             <br/>
             <input type="button" onclick="disable()" value="Disable list">
             <input type="button" onclick="enable()" value="Enable list">
        </div>
        <div class="form-group">
             <h3>Parking</h3>
            <label for="parkingBoolean">Do you pay for parking? </label></br>
            <select name="parkingBoolean">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
          </select>
          <br>
            <label for="parkingPayment">How much do you pay for parking per month? </label></br>
            <input type="text" name="parkingPayment" placeholder="" /><br/>
      </div>
      <br>
      <div class="form-group">
           <h3>Insurance</h3>
          <label for="insuranceBoolean">Do you pay for car insurance? </label></br>
          <select name="insuranceBoolean">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
        </select>
        <br>
          <label for="insurancePayment">How much do you pay for car insurance per month? </label></br>
          <input type="text" name="insurancePayment" placeholder=""  /><br/>
    </div>
    <br>
        <div class="form-group">
             <h3>Fuel</h3>
            <label for="powerBoolean">Do you pay for diesel/gas/supercharging? </label></br>
            <select name="powerBoolean">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
          </select>
          <br>
            <label for="powerPayment">How much do you pay for diesel/gas/supercharging per month? </label></br>
            <input type="text" name="powerPayment" placeholder="" /><br/>
            <button type="submit" class="button is-success">Submit</button>
      </div>
      <br>
      <div class="form-group">
           <h3>Work</h3>
          <label for="workBoolean">Do you work from home? </label></br>
          <select name="workBoolean">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
        </select>
        <br>
          <label for="carWorkBoolean">Do you use your car for work? </label></br>
          <select name="carWorkBoolean">
              <option value="Yes">Yes</option>
              <option value="No">No</option>
        </select>
        <br>
          <label for="workMiles">How far do you travel for work per month in miles? </label></br>
          <input type="text" name="workMiles" placeholder="" /><br/>
    </div>
    <br>
    <div class="form-group">
         <h3>Car Ownership</h3>
        <label for="vacationBoolean">Do you drive a car for vacations? </label></br>
        <select name="vacationBoolean">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
      </select>
      <br>
        <label for="vacationFrequency">How often do you travel for vacations per month? </label></br>
        <input type="text" name="vacationFrequency" placeholder="" /><br/>
        <label for="vacationMiles">How far do you travel in miles for vacations per day? </label></br>
        <input type="text" name="vacationMiles" placeholder="" /><br/>
    </div>

      </form>
  </div>
</div>
