* {
    font-family: "Roboto", sans-serif;
}
h1 {
    text-align: center;
    margin: 50px 0 0 10px;
    font-weight: bold;
}

h3 {
    text-align: center;
    margin: 50px 0 0 10px;
    font-weight: bold;
}

h1.homepage {
    font-weight: bold;
    color: white;
    font-size: 40px;

}

a.button.is-link {
    left: 650px;
    bottom: -100px;
}
#chart{
    width: 600px;
    height: 600px;
    background-color: #f7f7f7;
    margin: 25px auto;
}
